<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nemesis">
      <ion-icon name="bug-outline"></ion-icon>
      {{ layoutPageText.nemesis | localize }}
    </ion-tab-button>
    <ion-tab-button tab="mage">
      <ion-icon name="color-wand-outline"></ion-icon>
      {{ layoutPageText.mage | localize }}
    </ion-tab-button>
    <ion-tab-button tab="market">
      <ion-icon name="cash-outline"></ion-icon>
      {{ layoutPageText.market | localize }}
    </ion-tab-button>
    <ion-tab-button tab="turn-order">
      <ion-icon name="infinite-outline"></ion-icon>
      {{ layoutPageText.turnOrder | localize }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
