<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nemesis">
      <ion-icon name="bug-outline"></ion-icon>
      Nemesis
    </ion-tab-button>
    <ion-tab-button tab="mage">
      <ion-icon name="color-wand-outline"></ion-icon>
      Mage
    </ion-tab-button>
    <ion-tab-button tab="market">
      <ion-icon name="cash-outline"></ion-icon>
      Market
    </ion-tab-button>
    <ion-tab-button tab="turn-order">
      <ion-icon name="infinite-outline"></ion-icon>
      Turn order
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
